$btnPrimary: #d9d9d9;
$colorTextPrimary: #808080;
$colorBackground: #171615;
$btnOutline: #f4c527;
$subtitleColor: #e0e0e0;
$modelsMobile: #1d1d1d;
$colorTextPartners: #6e6e6e;
$colorTextLogotipo: #b4b3b3;
$colorInputText: #828282;
$bgInputText: #333;
$bgBorderInput: #282828;
$inputChecked: #0f2854;
