$btnPrimary: #D9D9D9;
$colorTextPrimary: #808080;
$colorBackground: #171615;
$btnOutline: #F4C527;
$subtitleColor: #E0E0E0;
$modelsMobile: #1D1D1D;
$colorTextPartners: #6E6E6E;
$colorTextLogotipo: #B4B3B3;
$colorInputText: #828282;
$bgInputText: #333;
$bgBorderInput: #282828