$btnPrimary: #d9d9d9;
$colorTextPrimary: #808080;
$colorBackground: #071620;
$btnOutline: #FFCB42;
$subtitleColor: #e0e0e0;
$modelsMobile: #041826;
$colorTextPartners: #6e6e6e;
$colorTextLogotipo: #b4b3b3;
$colorInputText: #828282;
$bgInputText: #333;
$bgBorderInput: #282828;
$inputChecked: #0f2854;
$headerSecondaryColor: #041826;
$backgroundMainDashboard: #F9F9FB;
$btnColorSecondary: #0D4873;
$backgroundActiveLink: #F4C527;
$colorError: #AA3C3C;
$inputColorBackground: #1E2E38;
$modalContact: #0A1F2D